@CHARSET "EUC-KR";
*{
	margin:0;
}



.header{
	height: 80px;
	background-color: #013f07;
	overflow:hidden;
	font-family: poppins-extralight,poppins,sans-serif;
}
.logo>img{
	float : left;
	margin-left: 50px;
	margin-top: 10px;
	width: 60px;
	height: 60px;
}
.logo>p{
	float:left;
	margin-top: 22px;
	font-size: 18px;
	color: #f78d00;
	line-height:1em;
	font-weight: bold;
}
.menubar{
	margin-left: 36%;
	
}
#main-menu>li{
	float: left;
	margin-left: 2em;
	margin-right:1em;
	margin-top : 27px;
	color: white;
	list-style: none;
	font-weight: bold;
}
#main-menu>li>a:HOVER{
	color: #f78d00;
}
a,a:VISITED{
	text-decoration: none;
	color: #ffffff;
}
.log{
	float: right;
}
.log>*{
	float:left;
	margin-right: 2em;
	margin-top : 27px;
}
.log>a>span{
	color: #f78d00;
}
.log>a>span:HOVER{
	color: #a6722b;
}

#sub-menu {
  position: absolute;
  visibility: hidden;
  transition: all 0.15s ease-in;
  padding-inline-start: 0;
  opacity: 0;
}

#sub-menu > li {
 	float :left;
	padding-bottom: 5px;
	padding-right : 10px;
	list-style: none;
}

#sub-menu > li >  a {
  color: #f78d00;
  text-decoration: none;
  font-size: 0.8em;
}

#main-menu > li:hover ul#sub-menu {
  opacity: 0.8;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}
#main-menu > li > a {
  display: block;
}
